/*ESTILOS PARA GENERALES PARA EL MODULO mcs*/
.dvForm-Data-pTitle .icono{border: none; margin-right: 10px; vertical-align: middle;}
.tbForm-Data td.descripcion{width:150px; text-align:left;}
.tbForm-Data td.controles{width:380px; text-align:left;}

/*Estilos Agregados por Marinho*/
/*Estilos Generales del Modulo*/
#dvTool-Bar table{width: 100%;}
.tdNombreModulo{text-align: left; width: 50%;}
.tdBotonesAccion{text-align: right; width: 50%;}


/*Reescritura de valores de la clase principal*/
.dvRadioGroup{
    width: 260px;
    padding: 4px 3px 4px 3px;
    font-size: 11pt;
    font-family: "arial", helvetica, sans-serif, serif;
    color: #000;/*#3e3535;*/
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);
    border: 1px solid #659ec7;
    border-radius: 4px;
    background-color: #fbfbfb;
    -webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);
    -moz-border-radius: 4px;
}

/*Esta clase podra ser agregada en el archivo de clases principales para todo el proyecto*/
.infoRequerida{
    margin:15px 1px 15px 15px;
}


/*************************************************************************************/
/*ESTILOS PARA conclictos_sociales.php*/
#dvForm-Conflictos{
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: left;
}

#dvForm-Conflictos.icono{
    vertical-align: middle;
    margin-right: 10px;
    border: none;
}

#fsetopetbl_mcs_conflictos_sociales,
#tbfrmopetbl_mcs_conflictos_sociales{
    width: 900px;
}

#tbfrmopetbl_mcs_conflictos_sociales td.descripcion{
    width: 170px;
}
/*************************************************************************************/
/*ESTILOS PARA conclictos_agenda.php*/
#dvForm-Agenda{
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: left;
}

#dvForm-Agenda.icono{
    border: none;
    margin-right: 10px;
    vertical-align: middle;
}

#fsetopetbl_mcs_conflictos_agenda,
#tbfrmopetbl_mcs_conflictos_agenda{
    width: 700px;
}


/*************************************************************************************/
/*ESTILOS PARA conflictos_xcorreo.php*/
#dvForm-xcorreos{
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: left;
}

#dvForm-Xcorreos.icono{
    border: none;
    margin-right: 10px;
    vertical-align: middle;
}

#fsetopetbl_mcs_conflictos_xcorreos,
#tbfrmopetbl_mcs_conflictos_xcorreos{
    width: 800px;
}

/*************************************************************************************/
/*ESTILOS PARA conflictos_timeline.php*/

#dvForm-TimeLine{
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: left;
}

#dvForm-TimeLine.icono{
    border: none;
    margin-right: 10px;
    vertical-align: middle;
}

#fsetopetbl_mcs_conflictos_xcorreos,
#tbfrmopetbl_mcs_conflictos_xcorreos{
    width: 800px;
}

/*************************************************************************************/
/*ESTILOS PARA conflictos_Agenda.php*/
#calendar {
		width: 760px;
		margin: 40px auto;
		border:1px solid #CCC;
		border-radius:10px;
		padding: 4px;
		background-color: #EEE;
	}

