/*---------------------------------------------------------------------------------------/*
/*
codigo para botones de radio y checkbox con la libreria ---font-awesome---
/*

/* Hidding the radiobuttons & checkboxes */
input[type="radio"], input[type="checkbox"] {
    display: none;
}
/* Hidding the "check" status of inputs */
input[type="radio"] + label .fa-circle,
input[type="checkbox"] + label .fa-check  {
display: none;
}
/* Styling the "check" status */
input[type="radio"]:checked + label .fa-circle,
input[type="checkbox"]:checked + label .fa-check {
display: block;
color: blue;
}
/* Styling checkboxes */
input[type="checkbox"]:checked + label .fa-check {
position: relative;
left: .125em;
bottom: .125em;
}
/* Styling radiobuttons */
input[type="radio"]:checked + label .fa-circle-o {
display: none;
}

/*---------------------------------------------------------------------------------------/*
/*
Estilos para la tabla del Expediente
*/
/*titulo de la tabla*/
.styTitulo{
    width: 100%;   
    font-size: 22px;
    font-weight: bolder;;
    font-family: sans-serif;
    text-align: center;  
    color: #ffffff;
    position: relative;
    /*degradado del fondo*/
    background: -webkit-linear-gradient(white, black);
    background: -moz-linear-gradient(white, black);
    background: -o-linear-gradient(white, black);
    /*redondear bordes*/
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    /*sombras*/
    box-shadow: 5px 5px 0 #BDBDBD;
   -webkit-box-shadow: 5px 5px 0 #BDBDBD;
   -moz-box-shadow: 5px 5px 0 #BDBDBD;
}
/*estilo principal de la tabla*/
.styTablaExp{
    width: 100%; 
    border-style: solid; 
    border-width: 0px;
    border-collapse: collapse;
}
/*estilo para el cuerpo de la tabla*/
.styTablaExp tbody{
    background: aliceblue;
}
/*estilo para las filas de la tabla*/
.styTablaExp tbody tr{
    height: 50px;
}
/*estilo para las columnas de la tabla*/
.styTablaExp td{
    height: 50px;
    color: blue;    
}
/*estilos para los parrafos de la tabla*/
.styTablaExp td p{    
    font-size: 16px;
    color: black;
    font-weight: bold;   
}
/*estilos para los parrafos de la tabla con la clase styEstatus*/
.styEstatus{
    font-size: 16px;
    color: orange;
    font-weight: bold;
}
/*---------------------------------------------------------------------------------------/*